footer {
    background: rgb(73, 74, 75);
    background: radial-gradient(circle, rgb(80, 81, 82) 0%, rgba(116, 117, 121, 0.998) 100%);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
    position: fixed;
    color: #eee;
    text-align: center;
    bottom: 0px;
    width: 100%;

}